/* Genel stil */
body {
    margin: 0;
    padding: 0;
    background-color: #000; /* Arkaplan rengi */
    color: #fff; /* Metin rengi */
}
.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: #fff; /* Başlık rengi */
}

header {
    background-color: #f8d400; /* Başlık arka plan rengi */
    color: #000; /* Başlık metin rengi */
    text-align: center;
    padding: 1rem 0;
}

nav {
    background-color: #333; /* Menü arka plan rengi */
    text-align: center;
    padding: 0.5rem 0;
}

nav a {
    color: #fff; /* Menü metin rengi */
    text-decoration: none;
    margin: 0 1rem;
}

main {
    padding: 1rem;
}

.card {
    display: flex;
    margin-bottom: 1rem;
    background-color: #333; /* Kart arka plan rengi */
    border: 1px solid #ddd; /* Kart kenarlık rengi */
    border-radius: 5px; /* Kart kenarlık yuvarlaklık */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Kart gölge efekti */
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 1rem;
}

.card .content {
    flex: 1;
}

.card-content {
    display: none;
    padding: 1rem;
    background-color: #fff;
    color: #000; /* Kart içerik metin rengi */
}

.read-more {
    color: #f8d400; /* Devamını Oku metin rengi */
    text-decoration: none;
}

/* Gösterim */
.show {
    display: block;
}

.read-more {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFED38;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
